
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head class="paralax-html">
    <meta name="viewport" content="width=device-width" />
    <title>Parisian Urban | About</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="~/Content/JavaScript/parallax.min.js"></script>
    <link href="~/Content/CSS/Style.css" rel="stylesheet" />
</head>
<body class="paralax-body">
    <div class="parallax-effect" data-parallax="scroll" data-z-index="1" data-image-src="~/Content/CSS/Images/About-img.jpg"><h1 style="text-align:center;padding-top:35px;color:whitesmoke;">Parisian Urban</h1></div>
    <div class="about-container" style="margin-top:15px;">
        <h1 class="paragraph-font">Who we are</h1><br />
        <h3>
            Parisian Urban is a real estate company based in Montréal, Québec Canada. We help our clients find their dream home through
            our online website, where a real estate agent is always ready to lend a helping hand. What makes us unique from other companies,
            is our amazing team. Our bilingual team is made of two groups, the real estate agents and developers. We work hard and enjoy what we do!
            Sign up now and start searching for your dream home.
        </h3>

    </div>
    <div class="parallax-effect2" data-parallax="scroll" data-z-index="1" data-image-src="~/Content/CSS/Images/Headquarters.jpg"><h1 style="text-align:center;padding-top:35px;color:whitesmoke;">Our headquarters</h1></div>
</body>
</html>
